@import "tailwindcss";

:root {
    --bg: rgb(247, 247, 247);
    --border: rgb(235, 235, 235);
    --border2: rgb(235, 235, 235);
    --accent: rgba(86, 12, 223, 1);
    --accent-hover: #4a0cbd;
}

body {
    width: 100%;
    font-family: "Inter", sans-serif;
    background-color: var(--bg);
    color: #181818;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}